<h1>The Great Javascript Race</h1>

<div class="container">  
  <form id='signin' action='/create_game' method='post'>
    <input type='text' name='username1' placeholder='Player 1'><br>
    <input type='text' name='username2' placeholder='Player 2'><br>
    <input type='submit' value='Submit'>
  </form>
</div>

<div class='hidden'><%= erb :_racer, :layout => false %></div>
